.engre_container{
	display: flex;
	height: 400px;
	width: 400px;
	border: 4px solid #ccc;
	border-radius: 20px;
	align-items: center;
	margin: 2em auto;
	animation: mover 2s infinite;
}

.giratoria{
	animation: girar 2s infinite linear;
	margin: auto;
}

@keyframes mover{
	0%{
		margin-top: 20px;
	}
	
	50%{
		margin-top: 40px;
	}
	
	100%{
		margin-top: 20px;
	}
}

@keyframes girar{
	from{
		transform: rotate(0deg);
	}
	
	to{
		transform: rotate(360deg);
	}
}