.header_container{
	background-color: #222;
	color: #ccc;
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 5em;
}

.logo_container{
	margin-left: 1.1em;
	cursor: pointer;
}

@media (max-width: 700px){
	.header_container{
		flex-direction: column;
	}
	
	.logo_container{
		margin-bottom: 1.1em;
		margin-left: 0;
	}
}