.navBar ul{
	display: flex;
}

.navBar li{
	margin: 0 2em;
	list-style: none;
}

.navBar a{
	color: #ddd;
	text-decoration: none;
	transition: 500ms;
	font-size: 1.1em;
	font-weight: bold;
}

.navBar a:hover{
	color: #d88;
}