.header{
	background-color: #222;
	display: flex;
	overflow: hidden;
	justify-content: space-between;
	align-items: center;
	min-height: 5em;
}

.logo{
	padding: 5px;
	border-radius: 5px;
	background-color: #555;
	border: 2px solid #ccc;
	font-weight: bold;
	font-size: 1.2em;
	color: #ccc;
	margin-left: 2%;
	cursor: pointer;
}

.headerList{
	display: flex;
	font-weight: bold;
	font-size: 1em;
}

.headerList li{
	margin: 0em 2em;
	list-style: none;
	cursor: pointer;
}

.headerList a{
	color: #ccc;
	text-decoration: none;
	transition: 500ms;
}

.headerList a:hover{
	color: #da7;
}

@media (max-width: 700px){
	header{
		flex-direction: column;
		padding: 1em 0;
	}
	
	.headerList{
		margin-top: 10px;
	}
}