header{
	background-color: #222;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 5em;
}

.headerCon{
	background-color: #666;
	padding: 10px;
	color: #222;
	border-radius: 5px;
	margin: 1em;
	transition: 300ms;
}

.headerCon:hover{
	background-color: #888;
	cursor: pointer;
}

@media (max-width: 700px){
	header{
		flex-direction: column;
	}
	
	nav{
		padding-bottom: 1em;
	}
}