*{
	margin: 0;
	padding: 0;
}

body, #root{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	height: 100%;
	background-color: #444;
}

header{
	background-color: #222;
	margin-top: 0;
	display: flex;
	justify-content: space-between;
	min-height: 70px;
	align-items: center;
	padding: 10px;
}